@tailwind base;
@tailwind components;
@tailwind utilities;

.demo-component {
	display: flex;
	background-color: #f0f0f0;
	border: 1px solid #ccc;
	border-radius: 4px;
	padding: 10px;
}

.demo-component-flexbox {
	display: flex;
}
